<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id%>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name, class: 'form-control' %></p>
    </div>
  </div>
  <div class="form-group">
    <div id="form-submit-buttons" class="actions">
      <p><%= f.submit "Save", class: 'btn btn-success' %>
        <span><%= link_to 'Back', rooms_path, class: 'btn btn-default pull-right' %></span>
      </p>
    </div>

  </div>
<% end %>
